<section>
  <mat-toolbar color=" primary" style="align-items: center;">
    <span class="logo">KLH Angular Test</span>
    <span class="spacer"></span>
    <mat-form-field class="search-bar" colo appearance="outline" style="margin-top: 20px;" >
      <!-- <mat-label>Search</mat-label> -->
      <input matInput placeholder="Search..." />
    </mat-form-field>
    <span class="spacer"></span>

    <!-- Fix routerLink -->
    <div class="example-button-container">
        <a mat-fab extended raised-button color="primary" routerLink="product-list">
          LIST PRODUCTS
        </a>
      </div>
  </mat-toolbar>
</section>

<section>
  <router-outlet></router-outlet>
</section>

<style>
  /* filepath: /Users/anasidrissi/Documents/devnet/Angular-Poc/src/app/app.component.html */
  .spacer {
    flex: 1;
  }

  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
  }

  .search-bar {
    width: 30%;
  }
</style>
