<section>
  <mat-toolbar color=" primary" style="align-items: center;">
    <span class="logo">
      <a routerLink="/" style="text-decoration: none; color: white;">
        KLH Angular Test
        <small style="display: block; font-size: small;">Anas Idrissi</small>
      </a>
    </span>
    <span class="spacer"></span>
    <span class="spacer"></span>

    <!-- Fix routerLink -->
    <div class="example-button-container">
        <a mat-fab extended raised-button color="primary" routerLink="product-list">
          List des Produits
        </a>
      </div>
  </mat-toolbar>
</section>

<section>
  <router-outlet></router-outlet>
</section>

<style>
  /* filepath: /Users/anasidrissi/Documents/devnet/Angular-Poc/src/app/app.component.html */
  .spacer {
    flex: 1;
  }

  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
  }

  .search-bar {
    width: 30%;
  }
</style>
